*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
  }
  

  .contact-start{
    width: 100%;
    height: 50vh;
    background: url(img/contactt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.contact-start .main-contact-start{
    width: 85%;
    display: flex;
    margin-top: 70px;
}
.main-contact-start h2{
    font-size: 69px;
    color: #A2B4A8;
}


.about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.about-us .main-about-us{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-about-us .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.title h2{
    font-size: 30px;
    color: #1B472C;
    font-weight: 700;
}
.main-about-us .writeup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.writeup p{
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #1B472C;
}
.main-about-us .ceo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ceo .ceo-img{
    width: 118px;
    height: 118px;
    margin-right: 10px;
    border-radius: 55%;
}
.ceo .designation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.designation h2{
    font-size: 20px;
}
.designation p{
    font-size: 13px;
    color: #1B472C;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .main-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .main-footer .left-foot{
    width: 25%;
    display: flex;
    flex-direction: column;
  }
  .left-foot p{
    font-size: 13px;
    margin-bottom: 10px;
    color: white;
  }
  .left-foot .contact-foot{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact-foot h2{
    font-size: 15px;
    color: white;
  }
  .contact-foot ul li{
    font-size: 13px;
    list-style: circle;
    color: white;
  }
  .main-footer .middle-foot{
    width: 20%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  .middle-foot .foot-logo{
    width: 215px;
    height: 59px;
    margin-bottom: 80px;
  }
  .middle-foot .socials{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .socials a{
    padding: 5px;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .socials a .fb{
  width: 16px;
  }
  .socials a .twit{
    width: 32px;
  }
  .socials a .ig{
    width: 26px;
  }
  .main-footer .right-foot{
    width: 25%;
    display: flex;
    justify-content: space-between;
  }
  .right-foot .foot-links{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .foot-links a{
    font-size: 16px;
    margin: 10px 0;
    color: white;
  }
  .foot-links a:hover{
    color: #F78F49;
  }
  .right-foot .official{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .official img{
    width: 109px;
    height: 120px;
  }
  footer .copyright{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .copyright span{
    font-size: 16px;
    text-align: center;
    color: grey;
  }
  .mobile-foot{
    display: none;
  }

  @media screen and (max-width:480px){

    .contact-start{
        width: 100%;
        height: 40vh;
    }
    .main-contact-start h2{
        font-size: 33px;
        color: #c4ccc7;
    }
    .about-us{
        width: 100%;
        padding: 20px;
    }
    .about-us .main-about-us{
        width: 100%;
    }
    .writeup p{
       text-align: center;
       word-spacing: 0 !important;
    }

    .deskt-foot{
        display: none;
      }
      .mobile-foot{
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mobile-foot .main-mobile{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .main-mobile .top-mobile{
        width: 100%;
        display: flex;
        padding: 10px;
        margin-bottom: 60px;
      }
      .top-mobile img{
        width: 158px;
        height: 43px;
      }
      .main-mobile .middle-mobile{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
      }
      .middle-mobile .contact-foot{
        width: 60%;
        display: flex;
        flex-direction: column;
      }
      .contact-foot .quote-foot{
        width: 100%;
      margin-bottom: 25px;
      }
      .quote-foot p{
        color: white;
        font-size: 13px;
      }
      .contact-foot ul li{
        list-style: none;
        margin-bottom: 2px;
      }
      .middle-mobile .foot-links{
        width: 35%;
        display: flex;
        flex-direction: column;
      }
      .foot-links a{
        font-size: 13px;
      }
      .main-mobile .socials{
        display: flex;
        margin-bottom: 100px;
      }
      .socials a{
        margin-right: 15px;
      }
      .main-mobile .copyright{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .copyright span{
        text-align: center;
      }

  }
